layout {
    default_tab_template {
        pane size=1 borderless=true {
            plugin location="tab-bar"
        }
        children
        pane size=1 borderless=true {
            plugin location="status-bar"
        }
    }

    tab split_direction="vertical" {
        pane size="50%"
        pane size="50%" stacked=true {
            pane command="$SHELL" {
                args "-lic" "docker compose up"
            }
            pane command="$SHELL" {
                args "-lic" "bacon clippy-all"
            }
            pane focus=true command="$SHELL" {
                args "-lic" "claude"
            }
        }
    }
}
